* {
    margin: 0;
    padding: 0;
}

@keyframes backgroundColorPalette {
    0% {
        background: #ee6055;
    }
    25% {
        background: #60d394;
    }
    50% {
        background: #aaf683;
    }
    75% {
        background: #ffd97d;
    }
    100% {
        background: #ff9b85;
    }
}

body {
    animation: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    overflow: auto;
} */

ul {
    float: right;
    list-style: none;
    text-decoration: none;
}

ul li {
    display: inline-flex;
    margin-top: 20px;
    text-decoration: none;
}

#links {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
}

#links:hover {
    background-color: white;
    color: black;
}

#me {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}

#title {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about {
    position: absolute;
    top: 20%;
    right: 25%;
}

.skills {
    position: absolute;
    top: 30%;
    height: fit-content;
    width: 100%;
    display: inline-block;
}

#skill {
    height: 150px;
    width: 150px;
}

#row {
    float: left;
    height: 150px;
    width: 150px;
}

#projects {
    position: absolute;
    height: fit-content;
    top: 60%;
    left: 5%;
}

#contact {
    position: absolute;
    top: 70%;
    left: 5%;
}